<h1>Posts</h1>

<table class="table">
  <tr>
    <th>Creator</th>
    <th>Message</th>
  </tr>

  <%= for post <- @posts do %>
    <tr>
      <td>
        <%= post.creator %>
      </td>

      <td>
        <%= post.message %>
      </td>

      <td>
        <%= link "Delete", to: post_path(@conn, :delete, post), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
    </tr>
  <% end %>
<table>

<%= link "New Post", to: post_path(@conn, :new) %>
